<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px" style="text-align: center; padding: 30px;">
  <mat-card style="padding: 20px 40px">
    <mat-card-title>Log In</mat-card-title>
    <mat-card-subtitle *ngIf="!group.value">Log In as a Buyer or as a Seller</mat-card-subtitle>
    <mat-card-subtitle *ngIf="group.value">Log In as a {{ group.value }}</mat-card-subtitle>
    <mat-card-content>
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Setup Your Business Account</ng-template>
        <div fxLayout fxLayoutAlign="center center" style="margin-bottom: 12px">
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle value="Buyer">
              Buyer
            </mat-button-toggle>
            <mat-button-toggle value="Seller">
              Seller
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div fxLayout="column" fxLayoutGap="15px" style="margin-bottom: 10px;">
          <mat-form-field fxFlex="100%">
            <input matInput type="text" placeholder="UserName" formControlName="userNameCtrl">
          </mat-form-field>
          <mat-form-field fxFlex="100%">
            <input matInput type="password" placeholder="Password" formControlName="passwordCtrl">
          </mat-form-field>
        </div>
        <button mat-flat-button type="submit" color="primary">Log In</button>
      </form>
    </mat-card-content>
  </mat-card>
</section>
