<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px" style="text-align: center; padding: 30px;">
  <mat-card style="padding-bottom: 0;">
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-subtitle>Sign Up as a Buyer</mat-card-subtitle>
    <mat-card-content>
      <mat-horizontal-stepper [linear]="false" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmitFirst()">
            <ng-template matStepLabel>Setup Your Business Account</ng-template>
            <div fxLayout fxLayoutGap="40px">
              <mat-form-field fxFlex="50%">
                <input matInput type="text" placeholder="First name" formControlName="firstNameCtrl">
              </mat-form-field>
              <mat-form-field fxFlex="50%">
                <input matInput type="text" placeholder="Last name" formControlName="lastNameCtrl">
              </mat-form-field>
            </div>
            <div fxLayout fxLayoutGap="40px">
              <mat-form-field fxFlex="50%">
                <input matInput type="number" placeholder="Enter your mobile number" formControlName="mobileNumberCtrl">
              </mat-form-field>
              <mat-form-field fxFlex="50%">
                <input matInput type="email" placeholder="Email" formControlName="emailCtrl">
              </mat-form-field>
            </div>
            <div fxLayout fxLayoutGap="40px">
              <mat-form-field fxFlex="50%">
                <input matInput type="text" placeholder="Business name" formControlName="businessCtrl">
              </mat-form-field>
              <mat-form-field fxFlex="50%">
                <input matInput type="password" placeholder="Password" formControlName="passwordCtrl">
              </mat-form-field>
            </div>
            <mat-checkbox fxFlexAlign="center" color="primary" formControlName="checkBoxCtrl">I accept the <a>Terms and Conditions</a></mat-checkbox>
            <div style="margin-top: 15px;">
              <button mat-flat-button matStepperNext type="submit" color="primary">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <div>
            <p>Congratulations!</p>
            <p>You can now buy any product from PayME store.</p>
          </div>
          <div>
            <button mat-stroked-button matStepperPrevious >Back</button>
            <button mat-flat-button (click)="stepper.reset()" color="warn">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</section>
