<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px" style="text-align: center; padding: 30px;">
  <mat-card style="padding-bottom: 0;">
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-subtitle>Sign Up as a Seller</mat-card-subtitle>
    <mat-card-content>
      <mat-horizontal-stepper [linear]="false" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Setup Your Business Account</ng-template>
            <div fxLayout fxLayoutGap="40px">
              <mat-form-field fxFlex="50%">
                <input matInput type="text" placeholder="First name" formControlName="firstNameCtrl">
              </mat-form-field>
              <mat-form-field fxFlex="50%">
                <input matInput type="text" placeholder="Last name" formControlName="lastNameCtrl">
              </mat-form-field>
            </div>
            <div fxLayout fxLayoutGap="40px">
              <mat-form-field fxFlex="50%">
                <input matInput type="number" placeholder="Enter your mobile number" formControlName="mobileNumberCtrl">
              </mat-form-field>
              <mat-form-field fxFlex="50%">
                <input matInput type="email" placeholder="Email" formControlName="emailCtrl">
              </mat-form-field>
            </div>
            <div fxLayout fxLayoutGap="40px">
              <mat-form-field fxFlex="50%">
                <input matInput type="text" placeholder="Business name" formControlName="businessCtrl">
              </mat-form-field>
              <mat-form-field fxFlex="50%">
                <input matInput type="password" placeholder="Password" formControlName="passwordCtrl">
              </mat-form-field>
            </div>
            <mat-checkbox fxFlexAlign="center" color="primary" formControlName="checkBoxCtrl">I accept the <a>Terms and Conditions</a></mat-checkbox>
            <div style="margin-top: 15px;">
              <button mat-flat-button matStepperNext color="primary">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Add your Products</ng-template>
            <div fxLayout fxLayoutGap="30px">
              <mat-form-field fxFlex="43%">
                <input matInput type="text" placeholder="Your Product Name" formControlName="productNameCtrl">
              </mat-form-field>
              <mat-form-field fxFlex="43%">
                <mat-select placeholder="Choose your Product's Category" formControlName="productCategoryCtrl">
                  <mat-option value="eventTicket">Event's Tickets</mat-option>
                  <mat-option value="softwareLicense">Software License</mat-option>
                  <mat-option value="educationOffer">Education Offers</mat-option>
                  <mat-option value="any">Anything else</mat-option>
                </mat-select>
              </mat-form-field>
              <div fxFlex="7%">
                <button mat-mini-fab color="primary" (click)="onAddProduct()">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
              <div fxFlex="7%">
                <button mat-mini-fab color="warn" (click)="onDeleteProduct()">
                  <mat-icon>clear</mat-icon>
                </button>
              </div>
            </div>
            <div style="margin-top: 6px;">
              <button mat-stroked-button matStepperPrevious >Back</button>
              <button mat-flat-button matStepperNext color="primary">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <div>
            <p>Congratulations!</p>
            <p>You can now share this link with your clients.</p>
          </div>
          <div style="margin: 15px 10px; border: 1px solid black; padding: 6px 10px">
            <a [href]="randomUrl">{{ randomUrl }}</a>
          </div>
          <div>
            <button mat-stroked-button matStepperPrevious >Back</button>
            <button mat-flat-button (click)="stepper.reset()" color="warn">Reset</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
</section>
