<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">PayME</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li><a (click)="onSelect()" style="cursor: pointer;">Signup</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a>Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
