<!-- <section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" style="height: 100vh;">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-subtitle>Sign In to your account</mat-card-subtitle>
    <mat-card-content>
      <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Username"
            maxlength="20"
            required>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password"
            maxlength="20"
            required>
          <mat-error></mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" fxFlexAlign="start">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</section> -->
<app-signup-buyer *ngIf="personType"></app-signup-buyer>
<app-signup-seller *ngIf="!personType"></app-signup-seller>
